<!-- Banner -->
<section class="banner {{ .style }}">
    <div class="content">
        {{ with .title }}<h1>{{ . }}</h1>{{ end }}
        {{ with .subtitle }}<p class="major">{{ . | safeHTML }}</p>{{ end }}
        {{ with .content }}<p>{{ . | safeHTML }}</p>{{ end }}
        {{ with .button }}<ul class="actions stacked">
            <li><a onclick="return gtag_report_conversion('{{.}}');" target="_blank" href="{{ .link_ig }}" class="button primary large wide smooth-scroll-middle">{{ .label_ig }}</a></li>
            {{/*
            <li><a href="{{ .link_ig }}" class="button primary large wide smooth-scroll-middle">
                <b class="icon brands fa-instagram fa-inverse"><span class="label">{{ .label_ig }}</span> {{ .label_ig }}</b>
            </a></li>
             */}}
        </ul>{{ end }}
    </div>
    {{ with .image }}<div class="image">
        {{/*
        */}}
        <img fetchpriority="high" src="{{.}}" alt="3D Printing of Minions" />
    </div>{{end}}
</section>