<!-- Contact -->
<section class="spotlight {{ .style }}"{{ with .id }} id="{{ . }}"{{ end }}>
    <div class="content">
        {{ with .title }}<h2>{{ . }}</h2>{{ end }}
        {{ with .content }}<p>{{ . | safeHTML }}</p>{{ end }}
        <ul class="actions ">
            {{ with .instagram }}
            <li><a onclick="return gtag_report_conversion('{{.link}}');" target="_blank" href="{{.link}}" class="button primary large wide smooth-scroll-middle">
                <b class="icon brands fa-instagram fa-inverse"><span class="label">Instagram</span> {{.label}} </b></a><li>
            {{ end }}
            {{ with .discord }}
            <li><a onclick="return gtag_report_conversion('{{.link}}');" target="_blank" href="{{.link}}" class="button primary large wide smooth-scroll-middle">
                <b class="icon brands fa-discord fa-inverse"><span class="label">Discord</span> {{.label}} </b></a><li>
            {{ end}}
        </ul>
    </div>
    {{ with .image }}<div class="image">
        <img class="asyncImage" src="{{ .low }}" data-src="{{ .orig }}" alt="" />
        {{/*
        <div style="background-image: url({{.orig}}),url({{ .low }})">
            <img src="{{ .low }}" alt="" width="0" height="0" style="display: none !important;" />
        </div>
        <picture>
            <source media="(max-width: 799px)" srcset="{{ .low }}" />
            <source media="(min-width: 800px)" srcset="{{ .orig }}" />
            <img src="{{ .low }}" alt="" />
        </picture>
        */}}
    </div>{{ end }}
</section>