	<title>{{ .Site.Title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="{{ .Site.Params.description }}">
    <meta name="author" content="">
    <meta property="og:image" content="https://itrs.tw/images/{{ .Site.Params.banner_img }}"/>
    <meta property="og:url" content="https://itrs.tw"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="{{ .Site.Params.description }}"/>
    <meta property="og:title" content="{{ .Site.Title }}"/>

	{{ if .Site.Params.favicon }}
	{{ partial "favicon" }}
	{{ end }}

    {{ with .Site.Params.gtag }}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ .id }}"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', {{ .id }});

    function gtag_report_conversion(url) {
      var callback = function () {
        if (typeof(url) != 'undefined') {
          window.open(url, '_blank');
        }
      };
      gtag('event', 'conversion', {
        'send_to': '{{ .id }}/{{ .label }}',
        'value': 1.0,
        'currency': 'TWD',
        'event_callback': callback
      });
      return false;
    }
    </script>{{ end }}
    <!-- https://web.dev/articles/codelab-preload-web-fonts -->
    <link rel="preload" href="/webfonts/fa-regular-400.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/webfonts/fa-brands-400.woff2" as="font" type="font/woff2" crossorigin />
    <!--link rel="preload" href="https://fonts.gstatic.com/s/sourcesanspro/v22/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdu3cOWxw.woff2" as="font" type="font/woff2" crossorigin /-->
    <!--link rel="preload" href="https://fonts.gstatic.com/s/sourcesanspro/v22/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7lujVj9w.woff2" as="font" type="font/woff2" crossorigin /-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i&display=swap" as="style" onload="this.media='all'" />
    <noscript>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i&display=swap" rel="stylesheet" type="text/css" />
    </noscript>

    <link rel="preload" as="image" href="images/banner0-1.webp" type="image/webp" />
    <link rel="preload" as="image" href="images/banner1-low.webp" type="image/webp" />
    <link rel="preload" as="image" href="images/banner2-low.webp" type="image/webp" />
    <link rel="preload" as="image" href="images/banner3-1-low.webp" type="image/webp" />
    <link rel="preload" as="image" href="images/banner4-low.webp" type="image/webp" />
    <link rel="preload" as="image" href="images/banner5-low.webp" type="image/webp" />

    <link rel="preload" as="image" href="images/banner1.webp" type="image/webp" media="(min-width: 800px)" />
    <link rel="preload" as="image" href="images/banner2.webp" type="image/webp" media="(min-width: 800px)" />
    <link rel="preload" as="image" href="images/banner3-1.webp" type="image/webp" media="(min-width: 800px)" />
    <link rel="preload" as="image" href="images/banner4.webp" type="image/webp" media="(min-width: 800px)" />
    <link rel="preload" as="image" href="images/banner5.webp" type="image/webp" media="(min-width: 800px)" />
    <!--link rel="prelaod" href="//www.instagram.com/embed.js" as="script" crossorigin /-->
    <link rel="prelaod" href="//www.instagram.com/embed.js?is_from_rle" as="script" crossorigin />


	<!-- CSS -->
	{{ $style := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "scss/main.scss" . | toCSS (dict "targetPath" "css/main.css" "outputStyle" "compressed" "enableSourceMap" false) | fingerprint "md5" }}
    <link rel="stylesheet" href="{{ ($style).RelPermalink }}" />
    {{/* with $style | minify -}}
        <style>{{ .Content | safeCSS }}</style>
    {{- end */}}


	{{ $noscript := resources.Get "sass/noscript.scss" | resources.ExecuteAsTemplate "noscript.scss" . | toCSS (dict "targetPath" "css/noscript.css" "enableSourceMap" false "outputStyle" "compressed") | fingerprint "md5" }}
	<noscript><link rel="stylesheet" href="{{ ($noscript).RelPermalink }}" /></noscript>

	<!-- FontAwesome CSS -->
	{{/* range .Site.Params.asset.fontawesome_css -}}
		<link rel="stylesheet" href="{{ . | absURL }}">
	{{- end */}}

    {{ if true }}
    {{ with resources.Get "css/used.css" | minify }}
        <style>{{ .Content | safeCSS }}</style>
    {{ end }}
    {{end}}

