<!-- Spotlight -->
<section class="spotlight {{ .style }}"{{ with .id }} id="{{ . }}"{{ end }}>
    <div class="content">
        {{ with .title }}<h2>{{ . }}</h2>{{ end }}
        {{ with .content }}<p>{{ . | safeHTML }}</p>{{ end }}
        {{ with .button }}<ul class="actions stacked">
            <li><a href="{{ .link }}" class="button">{{ .label }}</a></li>
        </ul>{{ end }}
    </div>
    {{ with .image }}<div class="image">
    {{ if false }}
    <img class="asyncImage" src="{{ .low }}" data-src="{{ .orig }}" alt="" />
    {{ else }}
         <picture>
            <source media="(max-width: 799px)" srcset="{{ .low }}" />
            <source media="(min-width: 800px)" srcset="{{ .orig }}" />
            <img loading="lazy" decode="async" src="{{ .low }}" alt="" />
        </picture>
    {{ end }}
    </div>{{ end }}
</section>